@model IEnumerable<FileSharingPractice.Models.UploadViewModel>

@{
    ViewData["Title"] = "Brows";
    var imageconteebtTypes = new[] { "image/jpg", "image/png", "image/jpeg" };
}
<h3>Browse Files</h3>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        @if (item.ContentType.ToLower().StartsWith("image"))
                        {
                            <img  data-src="/Uploads/@item.FileName" class="card-img lazyload" alt="...">
                        }
             
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class=" row">
                                <div class="col-6">
                                    <h5 class="card-title">
                                        @item.OriginalfileName
                                        <p class="card-text"><small class="text-muted">@item.Uploaddate </small></p>
                                    </h5>
                                </div>


                                @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                                <div class="col-2">
                                    <strong>Size:</strong>
                                    @{
                                        var siz = item.Size / 124;
                                        if (siz < 1024)
                                        {
                                            <span>Size :  @Math.Floor(siz) kb</span>
                                        }
                                        else
                                        {
                                            <span>Size : @(Math.Floor(siz)/1024) Mb</span>
                                        }
                                    }
                                </div>
                                <div class="col-4">
                                    <strong>Download Count :@item.DownloadCount</strong>
                                </div>
                            </div>
                                <div class="text-right">
                                    <a target="_blank" asp-action="Download" asp-controller="Uploads" asp-route-id="@item.FileName" class="btn btn-primary">download</a>
                                </div>
                            </div>
                        </div>
                        </div>
            </div>
        }
        <div class="col-12 text-md-center">
            <div>
                @if(ViewBag.CurentPage -1 >0)
                { 
                <a href="/Uploads/Browse/?RequiredPage=@(ViewBag.CurentPage -1)" class="btn btn-outline-primary btn-lg align-left">Prev</a>
                }
                @if (ViewBag.CurentPage + 1 <= ViewBag.Pagecount)
                {
                <a href="/Uploads/Browse/?RequiredPage=@(ViewBag.CurentPage + 1)" class="btn btn-outline-primary btn-lg align-right">Next</a>
                }
            </div>
        </div>
    </div>
</div>
